<%- include('partials/header.ejs') %>


<br>
<div id='align'>
<section id="event-column" style="overflow-y: scroll; overflow-x: hidden;" >
    <table id="event-tbl">
        <tr>
            <th colspan="1">Events <hr></th> 
        <tr class="orientation">
            <% event.forEach(event => { %>
                <td><label class="label">Location: </label><%= event.location.name %></td>
                <td><label class="label">Title: </label><%= event.title %></td>
                <td><label class="label">Start Date: </label><%= event.start %></td>
                <td><label class="label">End Date: </label><%= event.end %></td>
                <td><form action="/user/main/<%= event._id %>?_method=DELETE" method="POST">
                    <button type="submit">x</button>
                </form></td>
               <td><button><a href="/user/event-details/<%= event._id %>">enter event</a></button></td>
               
        <% }) %>
        </tr>
    </table>
</section>
<div id='bg'>
<div id='ev-explain'><i>> Nemeroth-assistant.exe Online for individual use.</i>
    <p>Here is your calender, User. The Calender shows you what events are currently taking place in the Nemesis system, and allows you to utalize your personal warp accelerator to go to any active event. Simply press the button below the event, and my Nav Demon will do the rest.</p>
</div>
</div>
</div>

<%- include('partials/footer.ejs') %>