<%- include('partials/header.ejs') %>


<section id="event-column">
    <table id="event-tbl">
        <tr>
            <th colspan="1">Events</th>  
        <tr class="orientation">
            <% event.forEach(event => { %>
                <td><label class="label">Location: </label><%= event.location %></td>
                <td><label class="label">Title: </label><%= event.title %></td>
                <td><label class="label">Start Date: </label><%= event.start %></td>
                <td><label class="label">End Date: </label><%= event.end %></td>
                <td><form action="/user/main/<%= event._id %>?_method=DELETE" method="POST">
                    <button type="submit">x</button>
                </form></td>
        <% }) %>
        </tr>

    </table>
</section>


<%- include('partials/footer.ejs') %>